# atmosphere prototype data
# the base for loading/generating mixing ratio and TP profiles for 
# the simulation
# Filler assumed to be N2 by default. Otherwise please specify with Filler =



# simulated atmosphere parameters
[Example]
	[[Example Atmosphere]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O
		Ratio = 90
		
# realistic atmosphere parameters with mixing ratio and TP profiles generated
[Realistic]
	[[Earth_Atmosphere]]
		Type = File
		Molecules = H2O, CO2, CH4, O2, O3
		Mixing_Ratio_File = earth.txt
		TP_File = earth.txt

[Proposed_2]
	[[Earth_Atmosphere]]
		Type = File
		Molecules = H2O, CO2, CH4, O2, O3
		Mixing_Ratio_File = earth.txt
		TP_File = earth.txt
		
	[[H2_Rich_Atmosphere]]
		Type = Half
		Molecules = H2, CH4, CO2, CO, H2O, NH3
		Ratio = 90,1,1,1,1,1
		Filler = He
		TP_File = earth.txt	
		Window_Threshold = 0.6
		Window_Span = 100

	[[Anoxic_Atmosphere_All]]
		Type = Half
		Molecules = CH4, NH3, CO, CO2, H2O
		Ratio = 5,5,5,5,5
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100

	[[Anoxic_Atmosphere_Dry]]
		Type = Half
		Molecules = CH4, NH3, CO, CO2, H2O
		Ratio = 5,5,5,5,0.05
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100

	[[Anoxic_Atmosphere_No_NH3]]
		Type = Half
		Molecules = CH4, CO, CO2, H2O
		Ratio = 5,5,5,5
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100

	[[Anoxic_Atmosphere_No_CH4]]
		Type = Half
		Molecules = NH3, CO, CO2, H2O
		Ratio = 5,5,5,5
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100

[Proposed]


	[[Hyper_Earth_Atmosphere]]
		Type = Half
		Molecules = H2O, CO2, CH4, O2, O3
		Ratio = 5,5,5,20,5
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100
	
	[[Oxidizing_Atmosphere]]
		Type = Half
		Molecules = O2, O3, CO2, H2O
		Ratio = 25,25,25,1
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.5
		Window_Span = 100
	
	#[[CO2_Rich_Atmosphere]]
	#	Type = Half
	#	Molecules = CO2, O2, O3, H2O
	#	Ratio = 90,4,4,1
	#	Filler = N2
	#	TP_File = earth.txt
	#	Window_Threshold = 0.5
	#	Window_Span = 100	
	
		
	[[Reducing_Atmosphere]]
		Type = Half
		Molecules = H2, CO, H2S, NH3, HCN
		Ratio = 15,15,15,15,15
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100
	
	[[H2_Rich_Atmosphere]]
		Type = Half
		Molecules = H2, CH4, CO2, CO, H2O, NH3
		Ratio = 90,1,1,1,1,1
		Filler = He
		TP_File = earth.txt	
		Window_Threshold = 0.6
		Window_Span = 100
		
		
	[[Anoxic_Atmosphere]]
		Type = Half
		Molecules = CH4, NH3, CO, N2O, C2H2, C2H4, C2H6 
		Ratio = 24,24,24,24,1,1,1
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.6
		Window_Span = 100

	[[Sulfuric_Atmosphere]]
		Type = Half
		Molecules = CO2, SO2, SO3, H2S, OCS, HNO3 
		Ratio = 15,15,15,15,15,15
		Filler = N2
		TP_File = earth.txt
		Window_Threshold = 0.3
		Window_Span = 100


[Water Robustness]
	[[Pure H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 100,
	
	[[75% H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 75,	

	[[50% H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 50,	

	[[25% H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 25,	

	[[5% H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 5,	


# hypothetical pure atmospheres
[Pure]
	[[Pure H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 100,
	
	[[Pure CO2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO2,
		Ratio = 100,
	
	[[Pure CH4]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CH4,
		Ratio = 100,
	
	[[Pure O2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = O2,
		Ratio = 100,
		
	[[Pure CO]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO,
		Ratio = 100,

	[[Pure H2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2,
		Ratio = 100,

# approximated cases
[Well Mixed]

	[[All Main]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O, CO2, CO, CH4, NO, NO2, O2, O3
		Ratio = 10,10,10,10,10,10,10,10		

[H2]
	[[Gas Giant]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2,
		Ratio = 75,
		Filler = He	
	
	[[Neptunian]]	
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2,CH4
		Ratio = 70,5
		Filler = He	
	


		
		
[Simulation]


	[[Prebiotic Earth]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO2, CH4, H2
		Ratio = 1, 0.01, 0.2

	[[Titan]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CH4, H2
		Ratio = 6, 0.15

	[[Mars]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO2, O2, CO
		Ratio = 95.32, 0.13, 0.08

	[[Pure H2O]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2O,
		Ratio = 100,
	
	[[Pure CO2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO2,
		Ratio = 100,
	
	[[Pure CH4]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CH4,
		Ratio = 100,
	
	[[Pure O2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = O2,
		Ratio = 100,
		
	[[Pure CO]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = CO,
		Ratio = 100,

	[[Pure H2]]
		Type = isothermal
		Surface_Temperature = 300
		Molecules = H2,
		Ratio = 100,


