# Configuration for SEAS Simulation
#
# if parameter set to -1 or None, it's usually a dummy variable and the exact value 
# will be calculated in the simulation. No need to toggle them.
#
# dev version
# 0.7.1


[User]
	# type your name here
	username = azariven


###### Astrophysical Properties #####

# Stellar Properties
[Star]
	# Stellar Type
	Type = "M2V"
	
	# Radius of the star in unit of R_Sun
	R_Star = 0.1  
	
	# Mass of the star in unit of M_Sun
	M_Star = 0.1
	
	# Temperature of the star in unit of K
	T = 3500
	
	# Metallicity of the star compared to solar
	Metallicity = 1
	
	# Alpha enhancement
	Alpha = 0
	
	# Redshift
	z = 0
	
	
	[[Spectra]]
		selection = star_data
		filename  = albedo_grid_K0V.dat
	


# Planetary Properties
[Planet]
	# Radius of Planet in unit of R_Earth (what about R_Jupiter?)
	R_Planet = 1
	
	# Mass of Planet in unit of M_Earth
	M_Planet = 1
	
	# Distance to Star in unit of AU
	D_Planet = 0.1
	
	# Surface Temperature in unit of K
	Surface_Temperature = 300.0
	
	# Surface Pressure. Maybe this should be determined? or preset?
	Surface_Pressure = 100000.0
	
	# Surface Gravity will be calculated from mass and radius
	Surface_Gravity = -1

# Observer Parameters
[Telescope]

	Aperture = 6.5 # meter
	
	
	min_wavelength = 1 # micron
	max_wavelength = 25 #micron

	Duration = 86400000
	
	Distance = 3.0e17
	
	Quantum_Efficiency = 0.5
	
	
# Atmospheric Properties
[Atmosphere]
	
	# Dummy variable that stores the temperature pressure profile (TPP)
	# the TPP will be either calculated from simple model or load from file 
	TPP = -1,-1

	# Scale Height of the atmosphere. 
	# This is usually a calculated parameter so leave it -1 is fine
	# If specified, will skip scale height calculation
	Scale_Height = -1

	# This is a dummy variable that documents the min/max temperature possible
	# for the simulation. (What's in the cross section data)
	# Although... this can be changed if you run a new cross section db generator code.
	# The actual temperature per layer will be interpolated or scaled(TBD.) or both?
	Temperature_Range = 150-850
	
	# Another dummy variable that documents how spaced out are the cross section data
	Temperature_Resolution = 50
	
	# Surface Pressure
	# This need some thoughts about how to shift from Earth value to other planets
	# without the need to interpolate on existing database
	# Highest Pressure is 1000000, any value above this pressure is useless since
	# no cross section is simulated for those pressure points.
	# Unit: Pa
	Surface_Pressure = 100000

	# Pressure cut off. This is defined as the "top" of the atmosphere
	# Lowest pressure is 0.00001, any value below this pressure is useless since
	# no cross section is simulated for those pressure points.
	# Unit: Pa
	P_Cut_Off = 0.00001 

	# Layer_Pressure. A list of decreasing pressure from surface Pressure to Cut Off.
	# The length of this list is the Num_Layers
	Layer_Pressure = -1, -1

	# Number of Layers, will be determined base on Surface Pressure and Cut Off
	# Each Layer is defined as integer number of scale height values (need a better definition)
	Num_Layers = -1
	
	# Sub Layers. If Sub Layers is bigger than 2, cross sections will be interpolated
	# Warning: Interpolating cross sections can be time consuming for the simulation
	# May take up to ~10min to interpolate each molecule
	Sub_Layers = 1
	
	# Mean Molecular Weight Per Layer. Will be calculated from the mixing ratio file
	# after filler molecules are added in.
	Mean_MW = -1,-1


###### Bio Chemistry ######

[Atmosphere_Chemistry]


###### Spectral Properties #####

# Spectra Properties and choices
[Spectra]

	# Spectral Coverage, a choice of all, vis, near, far?
	Spectral_Coverage = all
	
	# Specify the specific spectral coverage, in unit of wn
	# This is the wavenumber range which the database will query 
	# the max range is from 400-30000, which is the default for Broad_Band and Simulation_Band
	# if telescopes are selected, this will be modified 
	Spectral_Range = 400-30000	
	Numin = 400
	Numax = 30000
	
[Atmosphere_Effects]


	# This is the base line of the spectra
	# Base_Line is a dummy parameter, should always set to true
	[[Base_Line]]
		enable = true
		# baseline intensity determined by mass and radius of planet
		# If all other effects are set to false, then you're simulating an
		# exoplanet without atmosphere
		value = -1
		offset = 0

	[[Main_Molecule]]
		enable = true
		# main molecule selected are determined by the mixing ratio file
		molecules = -1
		
	[[Bio_Molecule]]
		enable    = false
		data_type = none
		molecules = none
		is_smile  = false
		abundance = -1
	
	# filling the atmosphere constituents with filler molecules
	# should always set to true unless simulating 
	[[Filler_Molecule]]
		enable = true
		
	[[Rayleigh]]
		enable = true
		# molecules that we should simulate Rayleigh scattering. 
		# use "all" to simulate all molecules that are relevant
		molecules = all
	
	# Collision Induced Absorption
	[[CIA]]
		enable = false
		molecule = all
		
	# Currently a simplistic cloud deck model, should be replaced in the future with
	# more well thought out cloud model	
	[[Cloud]]
		enable = false
		
		# which type of clouds to model
		# either "grey" or "physical" for now
		model = physical
		
		# cloud deck starts x meter/ x' scale height from the surface of the atmosphere
		# cloud_deck_di = 10000
		deck = 10
		opacity = 1
		
		cloud_deck_sh = 2
		
		
		[[[Particulate]]]
			name = mgsio3
			average = 100
		
		# which cloud particle to be considered
		# could have multiple particles
		[[[particle]]]  
			name = ZnS
			solid_density = 4.09 #g/cm^3
			VMR = 4.62e-6
			# amount of such molecule in particle form
			condense = 0.1		
			
		# which distribution to use. Each particle could potentially have multiple
		# distribution in the future.
		[[[particle distribution]]] 
			type = lognormal
			
			# log normal with mean of 0 means radius mean is 1
        	# log normal with mean of 1 means radius mean of 2.7 (or e)
			mean = 1
			stdev = 0.2
			
		#
		[[[vmr distribution]]]
			# type to select is iso, log, linear and file.. 
			# load from a file...
			type = log
			scale = 1
		
		[[[result]]]
			output = wave
		
		
		
		
	[[Haze]]
		enable = false
		
	
	[[Overlay]]
		# unclassified effects
		enable = false
		
		
# more development planned for 0.8, unsure what to do for now
[Observation_Effects]


	[[Convolve]]
	
		convolve == true
		convolver = M
		convolve_amount = 10


	[[Bin]]
		bin_width = 0.01 # micron
		bin_exponent = 1.5
		
		bin_number = 1000
		method    = mean

	# Noise use internal simulation values unless specified by telescope parameters
	[[Noise]]
		enable = true
		error_scale = 0.005
		
		Multiplier = 1.2
		
		#need to add noise parameters here. TBD
		
		[[[Poisson_Noise]]]
			enable = true
			approximate = gaussian
			
		[[[Gaussian_Noise]]]
			enable = true
	
		[[[Uniform_Noise]]]
			enable = false
			
		[[[Laplace_Noise]]]
			enable = false
		
		[[[Lorentz_Noise]]]
			enable = false

	[[Filter]]
		enable = false

	# future simulation parameters, unused in 0.7 
	[[Telescope]]
		enable = false
		
		# not sure how to engage this yet. Ideally it should be loading 
		# the transmission percentage per wavelength/wavenumber from a datafile. 
		wavelength_range = -1
		
		# more parameters will go here for future

	# future simulation parameters, unused in 0.7  
	[[Pointing]]
		ra = 0
		dec = 0
		
	# Adds observation effect due to observing from earth
	[[Atmosphere_Window]]
		# If telescope set to false and if telescope is space-based, then
		# atmosphere window is irrelevant despite assumed true by default
		enable = true
		
		# not sure how to engage this yet. Ideally it should be loading 
		# the transmission percentage per wavelength/wavenumber from a datafile. 
		windows = nu
		threshold = 0.3
		span = 100 

		# more parameters will go here for future


###### Main Controller and Data I/O######
[Simulation_Control]

	# Seed used for random functions so that we can keep simulation consistent. 
	# Set this to -1 for actual simulation
	Seed = 1

	# Dummy parameter for backward compatibility, will be removed
	DIR = /Users/mac/Workspace/BioSig_SEAS

	# Specify what resolution to simulate the spectra under
	# This directly corresponds to which cross_section database to query
	# Need to think deeper about this part of the selection
	# For now we have "Broad_Band", "Simulation_Band" and "Narrow_Band"
	# Broad_Band is the example simulation with R=10wn, Simulation_Band is R=2-4wn (zone dependent), 
	# Narrow_Band is a specific region of the spectra. It should be wl dependent not wn? 
	# Spectral_type = Simulation_Band
	
	# Generally this is not needed as the database will be determined... but.. 
	# incase you have multiple database under the same spectral type for whatever reason
	# this need to be rework to be more robust...
	DB_DIR  = Simulation
	Exomol_DB_DIR = Exomol
	
	# Temperature and Pressure stored in the database
	T_Grid = 100,150,200,250,275,300,325,350,400
	P_Grid = 100000.0, 36800.0, 13500.0, 4980.0, 1830.0, 674.0, 248.0, 91.2, 33.5, 12.3, 4.54, 1.67, 0.614, 0.226, 0.0832, 0.0306, 0.0113, 0.00414, 0.00152, 0.00056, 0.000206, 7.58e-05, 2.79e-05, 1.03e-05
	

	# Choice of Temperature Pressure Profile
	# This part of the code could use some more model inputs... future code to add perturbation.
	# choose from "Isothermal", "Increasing", "Decreasing", "Simple_Inversion", or "File"
	TP_Profile = File
	TP_Profile_Name = earth.txt
	
	# Choice of Mixing Ratio
	# choose from "Well_Mixed", or "File"
	Mixing_Ratio = File
	Mixing_Ratio_Name = earth.txt

	# Atmosphere Prototype. Still don't know what to do with this yet.. TBD
	Atmos_Pro = None
	
	# Other data I/O Specifications 
	# User defined spectra, cross section, line list, etc
	# that are not added to the official package

	# Controller for print statements in the simulation.
	# If VERBOSE is True, will output debug statements, ot it seems
	VERBOSE = False

	
	
	
	
	
	
	
	
	
	
	
	

# plotting results
[Plotting]


	[[Figure]]
	
	figsize_w = 16
	figsize_h = 6
	
	# x axis unit for plot, y unit will usually be determined from simulation
	# choose from "wn", or "nm" or "um"
	
	x_unit = um
	x_scale = log
	x_label = None
	x_multiplier = 1
	
	y_unit = None
	y_scale = linear
	y_label = None
	y_multiplier = 1000000
	
	Title = Transit_Signal

	[[Result]]

	

	

	

# which part of the simulation result do you want to save?
[Save]

	[[Intermediate_Data]]
		cross_section_saved = true
		cross_section_savepath = xsec
		cross_section_savename = Temp_Cross_Section.npy
		
		bio_cross_section_saved = true
		bio_cross_section_savepath = bio_xsec
		bio_cross_section_savename = Temp_Bio_Cross_Section.npy
		
	[[Window]]
		save = false
		path = 
		name = 
		
	[[Plot]]
		save = false
		path = 
		name = 
	
	[[Spectra]]
		save = false
		path =
		name = 
	

# reserved for 0.8 for added group code development

[Logging]

[Warning]

[Unit_Test]


#Version Control stuff
[GIT]

# Last Remarks
[Random]
	seriously_over_four_hundred_lines_of_user_inputs_to_be_loaded_into_the_simulation_question_mark = true
	
	
	
	
	